<!DOCTYPE html>
<html lang="ro">
     <%- include('../fragmente/head') %>   
    <!--<Include head fragment -->

<style>
  h1{
    text-align: center;
  }
</style>

<body>
 
  <%- include('../fragmente/header') %>
  <main>
    <h1>Galeria Principală </h1> 
    <%- include('../fragmente/galerie-statica') %>

  </main>

  <%- include('../fragmente/footer') %> <!-- Include footer fragment -->

</body>
</html>
