<!DOCTYPE html>
<html lang="en">

<%- include('../fragmente/head') %>   <!-- Include head fragment -->

<style>
    #istoric
    {
        padding: 5%;
        text-align: justify;
        background-color: #f1f1f1;
        padding: var(--spacing-medium);
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-left: 5%;
        margin-right: 5%;
    }
</style>

<body>
    <%- include('../fragmente/header') %> <!-- Include header fragment -->


    <div id="istoric">

   
    <h2>Povestea noastra</h2>
    <p > 

        Înființată din dorința de a aduce tehnologia mai aproape de oameni, firma Best PC și-a câștigat reputația ca fiind un partener de încredere în domeniul vânzărilor de calculatoare. De la început, ne-am concentrat pe oferirea celor mai bune soluții tehnologice, punând mereu accent pe calitate, performanță și satisfacția clienților.  
        Portofoliul nostru cuprinde o gamă variată de produse, de la calculatoare și laptopuri echipate cu cele mai noi procesoare Intel de generația a 14-a, până la componente individuale, precum SSD-uri rapide și memorii RAM performante. Ne adresăm atât utilizatorilor casnici care caută soluții accesibile și fiabile, cât și profesioniștilor care au nevoie de performanțe de vârf pentru activități complexe.  
        Echipa noastră de experți este dedicată să ofere consultanță personalizată, ajutând fiecare client să găsească configurația ideală. În plus, investim constant în actualizarea ofertei, asigurând accesul la cele mai recente inovații din domeniul IT.  
        La Best PC, credem că tehnologia ar trebui să fie accesibilă pentru toată lumea. Misiunea noastră este să simplificăm procesul de alegere a unui calculator, oferind soluții adaptate nevoilor fiecăruia, la prețuri competitive.  
        Suntem mândri să fim alături de comunitatea noastră de clienți, sprijinindu-i să descopere și să beneficieze de tehnologia de ultimă generație. **Best PC – soluția ta pentru performanță și fiabilitate! 
    </p>

    <img src="/resurse/imagini/alte_poze/depozit.png" alt="">
</div>

<%- include('../fragmente/footer') %>

</body>
</html>