<footer>
    <p class="banner">Acesta este un proiect școlar!</p>
    
    <!-- Watermark-ul (acum nu mai este necesar un div suplimentar) -->
    <p id="watermark">Tudor<br>Matei Bogdan</p>

    <address id="contact">
        <h2>Contact</h2>
        <p>Telefon: <a href="tel:+40770256817">+40 770 256 817</a></p>
        <p>Email: <a href="mailto:contact@bestpc.com">tmateib@gmail.com</a></p>
        <p>Adresă: <a href="https://goo.gl/maps/P6Cs5NCokDQ2" target="_blank">Facultatea de Matematică și Informatică, Strada Academiei 14, București</a></p>
    </address>
    <small>&copy; <time datetime="2024-11-1">2024</time>. Toate drepturile rezervate.</small>
</footer>

