<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Calculatoare, gaming, achiziții calculatoare, PC, desktop, promoții">
    <meta name="description" content="Cele mai bune calculatoare pentru gaming șiprodusivitate. Promoții speciale la PC-uri performante.">
    <meta name="author" content="Tudor Matei Bogdan">
    <title>BestPc - Produse</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="resurse/imagini/ico/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="resurse/imagini/ico/favicon.svg">
    <link rel="shortcut icon" href="resurse//imaginiico/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="resurse/imagini/ico/apple-touch-icon.png">
    <link rel="manifest" href="resurse/imagini/ico/site.webmanifest">

    <!-- CSS -->
    <link rel="stylesheet" href="/resurse/css/custom.css"> 
    
    <link rel="stylesheet" href="/resurse/css/print.css">  
    <link rel="stylesheet" href="/resurse/css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script defer src="/resurse/js/tema.js"></script>
    <link rel="stylesheet" href="/resurse/css/custom.css">
    <link rel="stylesheet" href="/resurse/css/style.css"> 
    <link rel="stylesheet" href="/resurse/css/tema.css">
 
   
   
    <title><%= title %></title>
</head>